# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Django
db.sqlite3
media/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Static (optional if collected)
staticfiles/

# Python cache
.pytest_cache/
.mypy_cache/

# Build
build/
dist/
*.egg-info/